*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}
body {
    font-family: Helvetica, sans-serif;
}

nav {
    overflow: hidden;
    background-color: #333;
}

nav a{
    float: left;
}

nav svg{ 
    padding: 1rem;
    width: 1rem;
    height: 1rem;
}

nav svg.active{
    fill: #0d6efd;
    background-color: #222;
}

nav svg:hover{
    background-color: black;
}

h2{
    text-align: center;
}

input[type="text"]{
    align-self:left;
    max-width: 80vw;
}

footer{
    text-align: center;
    padding: 1.5rem;
    border-top: 1px solid black;
}

.main{
    padding: 3rem;
}

#random-btn{
    margin:auto;
}


#mainMessage{
    overflow: auto;
    width: 100%;
    background: linear-gradient(45deg, purple, yellow);
    margin: 2rem auto;
    padding: 15rem 0;
    text-align: center;
    color: black;
}




