*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}
body {
    font-family: Helvetica, sans-serif;
}

main{
    padding: 2rem;
}
footer{
    text-align: center;
    padding: 1.5rem;
    border-top: 1px solid black;
}

input[type="text"]{
    align-self:left;
    max-width: 80vw;
}

nav {
    overflow: hidden;
    background-color: #333;
}

nav a{
    float: left;
}

nav svg{ 
    padding: 1rem;
    width: 5rem;
    height: 5rem;
}

nav svg.active{
    fill: #0d6efd;
    background-color: #222;
}

nav svg:hover{
    background-color: black;
}

#random-btn{
    margin:auto;
}



