*{
    margin: none;
    padding: none;
    border: none;
}
body{
    background-color: rgb(60, 60, 60);
    color: white;
    font-family: Helvetica;
    text-align: center;
    display: flexbox;
    align-items: center;
}
#textDiv{
    text-align: right;
    width: 15rem;
    margin: 0 auto;
    padding-right: 0rem;
}
input[type="submit"]{
    padding: 0.5rem 0.75rem;
    border-radius: 0.4rem;
    border-style: none;
    color: white;
    background-color: gray;
    transition: background-color 0.3s;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgba(124, 235, 85, 0.92);
}